
.vs/WindowsFormsApp1/v15/Server/sqlite3/db.lock
.vs/WindowsFormsApp1/v15/Server/sqlite3/storage.ide-shm
.vs/WindowsFormsApp1/v15/Server/sqlite3/storage.ide-wal
.vs/WindowsFormsApp1/v15/Server/sqlite3/storage.ide-shm
WindowsFormsApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
.vs/WindowsFormsApp1/v15/.suo
.vs/WindowsFormsApp1/v15/Server/sqlite3/storage.ide-shm
.vs/WindowsFormsApp1/v15/Server/sqlite3/storage.ide-wal
WindowsFormsApp1/bin/Debug/WindowsFormsApp1.exe
WindowsFormsApp1/bin/Debug/WindowsFormsApp1.pdb
WindowsFormsApp1/obj/Debug/WindowsFormsApp1.Properties.Resources.resources
WindowsFormsApp1/obj/Debug/WindowsFormsApp1.pdb
WindowsFormsApp1/obj/Debug/WindowsFormsApp1.Form1.resources
WindowsFormsApp1/obj/Debug/WindowsFormsApp1.exe
WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csproj.FileListAbsolute.txt
WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csproj.CoreCompileInputs.cache
WindowsFormsApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WindowsFormsApp1/bin/Debug/WindowsFormsApp1.exe.config
.vs/WindowsFormsApp1/v15/Server/sqlite3/storage.ide-wal
.vs/WindowsFormsApp1/v15/Server/sqlite3/storage.ide-shm
.vs/WindowsFormsApp1/v15/.suo
.vs/WindowsFormsApp1/DesignTimeBuild/.dtbcache
